.ProseMirror {
  min-height: 80px;
  padding: 0.5rem;
}

.ProseMirror:focus {
  outline: none;
}

.tiptap {
  @apply rounded-md border border-input;
}

.tiptap > .tiptap-toolbar {
  @apply p-1 border-b border-input;
}

.tiptap > .tiptap-editor {
  @apply p-4;
}

.tiptap-bubble-menu {
  @apply flex space-x-1 bg-background border rounded-md p-1;
}

.tiptap-floating-menu {
  @apply flex flex-col space-y-1 bg-background border rounded-md p-1;
}
